#{extends 'partenaire.html'/}
<div class="alert alert-warning text-center" role="alert">Bienvenue Sur l'espace Partenaire</div>
<div class="row">
    <div class="col-md-4 ">
        <div class="list-group">
            <a  class="list-group-item" id="list-item-1" data-toggle="collapse" href="#cat-collapse" aria-expanded="false" aria-controls="collapseExample" data-placement="left"><strong>Enrégister un catégorie de plats</strong></a>
            <a  class="list-group-item" id="list-item-2" data-toggle="collapse" href="#plat-collapse" aria-expanded="false" aria-controls="collapseExample"><strong>Gérer les plats de réstauration</strong></a>
            <a  class="list-group-item" id="list-item-2" data-toggle="collapse" href="#menu-collapse" aria-expanded="false" aria-controls="collapseExample"><strong>Gérer les Menus de plats</strong></a>
            <a href="#" class="list-group-item" id="list-item-3"><strong>Consulter les commandes d'un clients</strong></a>
            <a  class="list-group-item" id="list-item-4" data-toggle="collapse" href="#valider-commande" aria-expanded="false" aria-controls="collapseExample"><strong>Valider ou regeter une commande</strong></a>
            <a  class="list-group-item" id="list-item-5" data-toggle="collapse" href="#valider-livraison" aria-expanded="false" aria-controls="collapseExample"><strong>Valider la livraison d'une commande</strong></a>
            <a href="#" class="list-group-item" id="list-item-6"><strong>Consulter l'historique des commandes livrées</strong></a>
            <a href="#" class="list-group-item" id="list-item-7"><strong>Consulter l'historique des commandes retirées</strong></a>
            <a href="#" class="list-group-item" id="list-item-8"><strong>Imprimer une facture</strong></a>
        </div>
    </div>
    <div class="col-md-6">
        #{doLayout /}
    </div>
</div>
#{pied /}