#{extends 'Admin.html'/}
#{set title:'Espace Admin'/}

<div class="alert alert-warning text-center" role="alert">Bienvenue Sur l'espace d' Administrateur</div>
<div class="row">
    <div class="col-md-5">
        <div class="list-group">
            <a  class="list-group-item" id="list-item-3" data-toggle="collapse" href="#regle-collapse" aria-expanded="false" aria-controls="collapseExample">Créer un type de règlément</a>
            <a  class="list-group-item" id="list-item-5" data-toggle="collapse" href="#type-menu-collapse" aria-expanded="false" aria-controls="collapseExample">Créer un type de menu</a>
            <a href="#" class="list-group-item" id="list-item-6" hidden>Consulter l'historique des commandes livrées</a>
        </div>
    </div>
    <div class="col-md-7">
        <div class="collapse" id="regle-collapse">
            #{if typeReglementList}
                    #{if flash.error}
                        <div class="alert alert-danger text-center" role="alert">
                            Erreur ${flash.error}
                        </div>
                    #{/if}
                    #{if flash.success}

                        <div class="alert alert-success text-center" role="alert">
                           ${flash.success}
                        </div>
                    #{/if}
            #{/if}
            <div class="well">
                <button type="button" class="btn btn-success btn-lg " data-toggle="modal" data-target="#reglement">
                    <span class="glyphicon glyphicon-plus"></span>
                    Ajouter un type réglément de compte
                </button>

                <div class="modal fade" id="reglement" tabindex="-1" role="dialog" aria-labelledby="reglement">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="typeR">Enregistrer un type de reglément</h4>
                            </div>
                            <div class="modal-body">
                                <div id="formTypeR">
                                    <form enctype="multipart/form-data" action="@{controllers.commandes.TypeReglements.addTypeReglement()}" class="form-horizontal">
                                        <div class="form-group">
                                            <label for="libelleTypeREng" class="col-sm-5 control-label text-justifie">Libellé</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" id="libelleTypeREng" placeholder="Déscription de la "
                                                       name="libelleTypeREng" required>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" type="submit">ENREGISTRER</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">FERMER</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="list-cate-collapsce">
                    <table class="table table-responsive table-bordered table-bordered">
                        <thead>
                        <tr class="active text-center text-primary">
                            <td class="" hidden><strong>ID</strong></td>
                            <td class=""><strong>LIBELLE</strong></td>
                            <td class=""><strong>MODIFIER</strong></td>
                            <td class=""><strong>SUPPRIMER</strong></td>
                        </tr>
                        </thead>
                        <tbody>
                        #{list items:typeReglementList,as:'typeR'}
                        <tr class="text-center">
                            <td class="" hidden>${typeR.getId()}</td>
                            <td class="">${typeR.getLibelle()}</td>
                            <td ><span class="glyphicon glyphicon-pencil"data-id="${typeR.getId()}" data-toggle="modal" data-target="#reglementModif" onclick="showEditModalR('${typeR.getId()}', '${typeR.getLibelle()}')"></span></td>
                            <td ><span class="glyphicon glyphicon-trash" data-id="${typeR.getId()}" data-toggle="modal" data-target="#reglementSupp" onclick="showModalR('${typeR.getId()}', '${typeR.getLibelle()}')"></span></td>
                        </tr>
                        #{/list}
                        </tbody>
                    </table>
                </div>
                <div class="modal fade" id="reglementModif" tabindex="-1" role="dialog" aria-labelledby="reglementModif">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="typeMenuTitle">MODIFIER UN TYPE DE RÈGLEMENT</h4>
                            </div>
                            <div class="modal-body">
                                <div id="formTypeMenu">
                                    <form action="@{controllers.commandes.TypeReglements.modiTypeR()}" class="form-horizontal">

                                        <div class="form-group" hidden>
                                            <label for="idTypeRModif">id</label>
                                            <input type="text" class="form-control" id="idTypeRModif"  name="idTypeRModif"  required>
                                        </div>

                                        <div class="form-group">
                                            <label for="libelleRModif">LIBELLE</label>
                                            <input type="text" class="form-control" id="libelleRModif"  name="libelleRModif"  required>
                                        </div>

                                        <button class="btn btn-primary" type="submit">MODIFIER</button>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">FERMER</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="reglementSupp" tabindex="-1" role="dialog" aria-labelledby="reglementSupp">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="typeMenuTitle">Supprimer Types Reglement</h4>
                            </div>
                            <div class="modal-body">
                                <div id="formTypeR">
                                    <form action="@{controllers.commandes.TypeReglements.suppTypeR()}" class="form-horizontal">

                                        <div class="form-group" hidden>
                                            <label for="libelleEng">id</label>
                                            <input type="text" class="form-control" id="idTypeR"  name="idTypeR" >
                                        </div>

                                        <div class="form-group">
                                            <label for="libelleREng">Libellé</label>
                                            <input type="text" class="form-control" id="libelleRSupp"  name="libelleRSupp">
                                        </div>
                                        <button class="btn btn-danger" type="submit">SUPPRIMER</button>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">FERMER</button>
                            </div>
                        </div>
                    </div>
                </div>

                <script>

                    function showEditModalR(id, libelle) {
                        $("#idTypeRModif").val(id);
                        $("#libelleRModif").val(libelle);
                        $("#myModal").modal("show");
                    }

                    function showModalR(id ,libelle) {
                        $("#idTypeR").val(id);
                        $("#libelleRSupp").val(libelle);
                        $("#delete-modal").modal("show");
                    }


                </script>

            #{ifErrors}

                <div class="alert alert-danger text-center" role="alert">
                ${errors[0]}
                    <a href="@{controllers.utilisateurs.Administrateurs.crudAdmin()}" class="alert-link">retour a la page de création</a>
                </div>
            #{/ifErrors}

            #{if flash.sucess}
                <div class="alert alert-success text-center" role="alert">
                    <p>${flash.success}</p>
                </div>
            #{/if}
            </div>
        </div>
        <div class="collapse" id="type-menu-collapse">
            #{if typeMenuList}
                #{if flash.error}
                    <div class="alert alert-danger text-center" role="alert">
                        Erreur ${flash.error}
                    </div>
                #{/if}
                #{if flash.success}
                    <div class="alert alert-success text-center" role="alert">
                       ${flash.success}
                    </div>
                #{/if}
            #{/if}
            <div class="well">
                <button type="button" class="btn btn-success btn-lg btn-right" data-toggle="modal" data-target="#typeMenu">
                    <span class="glyphicon glyphicon-plus"></span>
                    Ajouter Type Ménu
                </button>

                <!-- Modal typeMenu-->
                <div class="modal fade" id="typeMenu" tabindex="-1" role="dialog" aria-labelledby="typeMenu">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="typeMenuTitle">Types Menus</h4>
                            </div>
                            <div class="modal-body">
                                <div id="formTypeMenu">
                                    <form action="@{controllers.restaurants.typemenus.addTypeMenu()}" class="form-horizontal">
                                        <div class="form-group">
                                            <label for="libelleEng">Libellé</label>
                                            <input type="text" class="form-control" id="libelleEng" placeholder="libelle" name="libelleEng"required>
                                        </div>
                                        <div class="form-group">
                                            <label for="descriptionEng">Déscription</label>
                                            <input type="text" class="form-control" id="descriptionEng" placeholder="Description" name="descriptionEng"required>
                                        </div>
                                        <button class="btn btn-primary" type="submit">ENREGISTRER</button>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>


                <table class="table table-responsive table-bordered">
                    <th>
                        <tr class="active text-center text-primary">
                            <td class="text-center" hidden><strong>ID</strong></td>
                            <td class="text-center"><strong>LIBELLE</strong></td>
                            <td class="text-center"><strong>DESCRIPTION</strong></td>
                            <td class="text-center"><strong>MODIFIER</strong></td>
                            <td class="text-center"><strong>SUPPRIMER</strong></td>
                        </tr>
                    </th>
                #{list items:typeMenuList, as : 'typeMenus'}
                    <tbody>
                    <tr>
                        <td class="text-center" hidden>${typeMenus.getId()}</td>
                        <td class="text-center" >${typeMenus.getLibelle()}</td>
                        <td class="text-center">${typeMenus.getDescription()}</td>
                        <td class="text-center"><span class="glyphicon glyphicon-pencil success" data-id="${typeMenus.getId()}" data-toggle="modal" data-target="#typeMenuModif" onclick="showEditModal('${typeMenus.getId()}', '${typeMenus.getLibelle()}','${typeMenus.getDescription()}')"></span></td>
                        <td class="text-center"><span class="glyphicon glyphicon-trash danger" data-id="${typeMenus.getId()}" data-toggle="modal" data-target="#typeMenuSupp" onclick="showModal('${typeMenus.getId()}', '${typeMenus.getLibelle()}')"></span></td>
                    </tr>
                    </tbody>
                #{/list}
                </table>

                <div class="modal fade" id="typeMenuModif" tabindex="-1" role="dialog" aria-labelledby="typeMenuModif">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="typeMenuTitle">Types Menus</h4>
                            </div>
                            <div class="modal-body">
                                <div id="formTypeMenu">
                                    <form action="@{controllers.restaurants.typemenus.modifTypeMenu()}" class="form-horizontal">

                                        <div class="form-group" hidden>
                                            <label for="libelleEng">id</label>
                                            <input type="text" class="form-control" id="idModif"  name="idModif"  required>
                                        </div>

                                        <div class="form-group">
                                            <label for="libelleEng">Libellé</label>
                                            <input type="text" class="form-control" id="libelleModif"  name="libelleModif"  required>
                                        </div>
                                        <div class="form-group">
                                            <label for="descriptionEng">Déscription</label>
                                            <input type="text" class="form-control" id="descriptionModif"  name="descriptionModif"  required>
                                        </div>
                                        <button class="btn btn-primary" type="submit">MODIFIER</button>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="typeMenuSupp" tabindex="-1" role="dialog" aria-labelledby="typeMenuSupp">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="typeMenuTitle">Supprimer Types Menus</h4>
                            </div>
                            <div class="modal-body">
                                <div id="formTypeMenu">
                                    <form action="@{controllers.restaurants.typemenus.suppTypeMenu()}" class="form-horizontal">

                                        <div class="form-group" hidden>
                                            <label for="libelleEng">id</label>
                                            <input type="text" class="form-control" id="idSupp"  name="idSupp" >
                                        </div>

                                        <div class="form-group">
                                            <label for="libelleEng">Libellé</label>
                                            <input type="text" class="form-control" id="libelleSupp"  name="libelleSupp"  >
                                        </div>
                                        <button class="btn btn-danger" type="submit">SUPPRIMER</button>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>

                <script>

                    function showEditModal(id, libelle, description) {
                        $("#idModif").val(id);
                        $("#libelleModif").val(libelle);
                        $("#descriptionModif").val(description);
                        $("#myModal").modal("show");
                    }

                    function showModal(id ,libelle) {
                        $("#idSupp").val(id);
                        $("#libelleSupp").val(libelle);
                        $("#delete-modal").modal("show");
                    }


                </script>

            </div>
        </div>
    </div>
</div>