#{extends 'partenaire.html'/}
<h2 class="text-center" style="color: #ac2925"><strong>Information du restaurant</strong></h2>

#{include 'restaurants/Restaurants/descriptionResto.html'/}

<style type="text/css">
.gold{

}


    #cate img {
        margin-bottom: 2rem;
        margin-top: 3rem;
    }



    #infoR p {
        font-size: 16px;
    }

    #cate h2 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }


    li {
        padding-right: 4rem;
        font-family: Roboto, Arial, "Bell MT";
    }


    ol {
        background-color: white;
    }

    #infoR {

        margin-top: 4rem;
        font-size: 18px;
        height: 15%;
    }

    .bord {
        margin-left: -9rem;
    }
</style>