#{extends 'main.html'/}
#{set title:'Restaurant'/}

#{entete /}
<style type="text/css">
    #cate {
        margin-left: 10rem;
        font-size: 18px;
        color: black;
        margin-top: 4rem;
        margin-bottom: 3rem;
    }

    #cate img {
        margin-bottom: 2rem;
        margin-top: 3rem;
    }

    #entrer-plat-row {
        border: silver solid 1px;
        border-radius: 5px;
        margin-top: 10px;
    }

    #cate p {
        font-size: 16px;
    }

    #cate h2 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    #entrer {
        margin-left: 10rem;
        font-size: 18px;
        color: black;
        margin-top: 4rem;
        margin-bottom: 3rem;
    }

    li {
        padding-right: 4rem;
        font-family: Roboto, Arial, "Bell MT";
    }
    #dish {
        margin-top: -100rem;
    }
    #rstTete {
        font-size: 20px;

    }

    ol {
        background-color: white;
    }

    #mlresto {
        margin-left: 10rem;
        margin-top: 4rem;
        font-size: 18px;
        height: 15%;
    }

    .bord {
        margin-left: -9rem;
    }
</style>

<div id="rstTete">

    <ol class="breadcrumb">
        <li><a href="@{controllers.Application.index()}">Accueil</a></li>
        <li><a href="#">Coin gourmant</a></li>
        <li><a href="#">Restaurant</a></li>
        <li class="active">${restaurant.getNom()}</li>
    </ol>
    #{include 'restaurants/Restaurants/descriptionResto.html'/}
</div>

<div id="entrer">
    <ul class="nav nav-pills">
        <li role="presentation active"><a>MENU</a></li>
        #{list items:categorie, as:'ca'}
        <li role="presentation "><a href='#${ca.getNom().toLowerCase()}'>${ca.getNom().toLowerCase()}</a>
        #{/list}
        <li role="presentation danger"><a type="button" href="@{controllers.commandes.Commandes.client()}">Terminer Votre commande</a>
        </li>
    </ul>
</div>


#{include 'restaurants/Restaurants/categorie.html'/}
<div>
    <script type="application/javascript">
        $(document).ready(function () {

            $(".close,#noir").click(function () {
                $(".modal").hide();
            });
        });
    </script>
    <style type="text/css">
        .modal-dialog {
            width: 707px;
            margin-top: 9rem;
        }

        #plus, #moin {
            border: black solid 1px;
            border-radius: 5px;
            padding: 10px;
            padding-right: 20px;
        }

        .panel-footer {
            background: none;
            margin-top: 2rem;
        }

        .header-panel {
            margin-bottom: 3rem;
        }

        .panel-footer {
            margin-top: 3rem;
        }

        .ss {
            margin-right: -70px;
        }

        #noir {
            padding: 10px;
            border: black solid 1px;
            padding-right: -20px;
            cursor: pointer;
        }

        #rouge {
            padding: 10px;
            border: red solid 1px;
            cursor: pointer;
        }
    </style>
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="btnClose" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Plat</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 ss">
                            <img src="" id="showImg" height="170">
                        </div>
                        <div class="col-md-6">
                            <div class="header-panel">
                                <h5 id="titre"></h5>
                                <span id="description"></span>
                                <h3 id="id" hidden></h3>
                            </div>
                            <div class="text-right">
                                <strong id="montant"></strong>
                                <strong>Fcfa</strong>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-4">
                                        <span id="plus" class="glyphicon glyphicon-plus"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <p id="quantite"><strong></strong></p>

                                    </div>
                                    <div class="col-md-4">
                                        <span id="moin" class="glyphicon glyphicon-minus"></span>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer modal-black">
                        <p><strong>Total</strong></p>
                        <div class="row">
                            <div id="noir" class="col-md-4 text-center">
                                Annuler
                            </div>
                            <div class="col-md-1"></div>
                            <div id="rouge" class="col-md-7" >
                                <div class="col-md-6 text-left">Ajouter au panier</div>

                                <div class="col-md-6 text-right" id="mtTotal">0.00</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>