#{extends '/portail/partenaire/Dashboard/dashboard.html'/}
#{set title:'Liste des menu'/}
<h3 class="text-center text-primary"><strong>Liste des menus</strong></h3>
<table class="table table-responsive table-bordered table-bordered">
<thead>
<tr class="active text-center text-primary">
            <td class="text-center" hidden>id</td>
            <td class="text-center"><strong>CALENDRIE</strong></td>
            <td class="text-center"><strong>LIBELLE</strong></td>
    <td class="text-center"><strong>TYPE MENU </strong></td>
            <td class="text-center"><strong>MODIFIER</strong></td>
            <td class="text-center"><strong>SUPPRIMER</strong></td>
        </tr>
</thead>
#{list items:menus, as : 'menu'}
    <tbody>
    <tr>
        <td class="text-center" hidden>${menu.getId()}</td>
        <td class="text-center">${menu.getCalendrie().format('dd MMMM yyyy hh:mm:ss')}</td>
        <td class="text-center">${menu.getLibelle()}</td>
        <td class="text-center">${menu.findLibelleById(menu.getTypeMenu())}</td>
        <td class="text-center"><span class="glyphicon glyphicon-pencil success" data-id="${menu.getId()}"
                                      data-toggle="modal" data-target="#menuModif"
                                      onclick="showEditModal('${menu.getId()}', '${menu.getLibelle()}','${menu.getCalendrie().format('dd MMMM yyyy hh:mm:ss')}','${menu.findLibelleById(menu.getTypeMenu())}')"></span>
        </td>
        <td class="text-center"><span class="glyphicon glyphicon-trash danger" data-id="${menu.getId()}"
                                      data-toggle="modal" data-target="#menuSupp"
                                      onclick="showModal('${menu.getId()}', '${menu.getLibelle()}')"></span></td>
    </tr>
    </tbody>
#{/list}
</table>

<div class="modal fade" id="menuModif" tabindex="-1" role="dialog" aria-labelledby="menuModif">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="menuTitle">MODIFIER UN MENU</h4>
            </div>
            <div class="modal-body">
                <div id="formMenu">
                    <form action="@{controllers.restaurants.menus.modifMenu()}" class="form-horizontal">

                        <div class="form-group" hidden>
                            <label for="idModif">id</label>
                            <input type="text" class="form-control" id="idModif" name="idModif" required>
                        </div>

                        <div class="form-group">
                            <label for="libelleEng">Libellé</label>
                            <input type="text" class="form-control" id="libelleModif" name="libelleModif" required>
                        </div>

                        <div class="form-group">
                            <label for="typeMenuModif">Type ménu</label>
                            <select class="form-control" id="typeMenuModif" name="typeMenuModif">
                            #{list items:typeMenus, as:'TPM'}
                                <option value="&{TPM.getId()}">&{TPM.getLibelle()}</option>
                            #{/list}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="calendarModif">Calendrié</label>
                            <input type="datetime-local" class="form-control" id="calendarModif" name="calendarModif">
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">MODIFIER</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="menuSupp" tabindex="-1" role="dialog" aria-labelledby="menuSupp">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="typeMenuTitle">Supprimer Menus</h4>
            </div>
            <div class="modal-body">
                <div id="formTypeMenu">
                    <form action="@{controllers.restaurants.menus.suppMenu()}" class="form-horizontal">
                        <div class="form-group" hidden>
                            <label for="libelleEng">id</label>
                            <input type="text" class="form-control" id="idSupp" name="idSupp">
                        </div>

                        <div class="form-group">
                            <label for="libelleEng">Libellé</label>
                            <input type="text" class="form-control" id="libelleSupp" name="libelleSupp">
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" type="submit">SUPPRIMER</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        </div>
                    </form>
                </div>
            </div>

    </div>
    </div>
</div>


<script>

    function showEditModal(id, libelle, calendrie, typemenu) {
        $("#idModif").val(id);
        $("#libelleModif").val(libelle);
        $("#calendarModif").val(calendrie);
        $("#typeMenuModif").val(typemenu);
        $("#myModal").modal("show");
    }

    function showModal(id, libelle) {
        $("#idSupp").val(id);
        $("#libelleSupp").val(libelle);
        $("#delete-modal").modal("show");
    }


</script>