#{extends '/portail/partenaire/Dashboards/dashboard.html'/}
#{set title:'Liste des commandes et clients'/}

<h3 class="text-primary text-center"><strong>Liste des commandes d'un client</strong></h3>
<table class="table table-responsive table-bordered table-hover">
    <thead>
    <tr class="active text-center text-primary">
        <td class="text-center" hidden><strong>ID</strong></td>
        <td class="text-center"><strong>CLIENT</strong></td>
        <td class="text-center"><strong>PLAT</strong></td>
        <td class="text-center"><strong>COMMANDE</strong></td>

    </tr>
    </thead>
    <tbody>
    #{list items:com_cli_plats,as:'Cat'}
    <tr class="text-center">
        <td class="text-center" hidden>${Cat.getId()}</td>
        <td class="text-center">${Cat.findNomByObject(Cat.getClient())}</td>
        <td class="text-center">${Cat.findLibelleByObject(Cat.getPlat())}</td>
        <td class="text-center">${Cat.findNumCommandeByObject(Cat.commandes())}</td>
    </tr>
    #{/list}
    </tbody>
</table>


