#{extends 'main.html'/}
#{set title:'Compte'/}

<style>
    #compte {
        margin: 10rem;
        margin-right: 10rem;
        margin-left: 15rem;
        background-color: #d5dcdf;
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-size: 16px;
        border-radius: 10px;
    }

    #message, .error {
        color: red;
        font-size: 20px;
        text-align: center;
        background-color: black;
        margin: auto;
        margin-left: 15rem;
    }

    #valider:hover {
        background-color: #568C00;
    }
</style>

<div id="compte">
    <h3 class="text-center">Creer un compte Gourmet</h3>
    <form class="form-horizontal" onsubmit=" return verifiePassword()"
          action="@{controllers.restaurants.Agents.addAgent()}">
        <div class="form-group">
            <div class="col-sm-4 text-center">
            #{if flash.error}
                <p class="alert-danger text-center">
                    ${flash.error}
                ${errors[0]}
                </p>
            #{/if}

                #{if flash.success}
                ${flash.success}
                #{/if}
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Login</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="loginEng" placeholder="Login" name="loginEng" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Email</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="emailEng" placeholder="Email" name="emailEng" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-4 control-label">Mot de passe</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="passwordEng" placeholder="Password" name="passwordEng">
            </div>

        </div>

        <span id="message"></span>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-4 control-label">Confirmer mot de passe</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="password" placeholder="Password" name="password"
                       value="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-6">
                <button type="submit" class="btn btn-default" value="submit" id="valider">VALIDER</button>
            </div>
        </div>
    </form>
</div>

<script>
    function verifiePassword() {

        var a = $("#passwordEng").val();
        var b = $("#password").val();
        if (a === null || a === "") {
            document.getElementById("message").innerHTML = "Enter votre mot de passe";
            return false;
        } else if (a < 5) {
            document.getElementById("message").innerHTML = "Mot de passe trop court";
            return false;
        } else if (a > 25) {
            document.getElementById("message").innerHTML = "Mot de passe trop long";
            return false;
        } else if (a != b) {
            document.getElementById("message").innerHTML = "les mots de passe ne sont pas les memes";
            return false;
        }
        else {
            $(document).window.href = "@{controllers.restaurants.Agents.addAgent()}";
        }

    }
</script>