#{extends 'partenaire.html'/}
#{set title:'Espace Agent'/}


<div class="alert alert-warning text-center" role="alert">Bienvenue Sur l'espace Partenaire</div>
<div class="row">
    <div class="col-md-5 ">
        <div class="list-group">
            <a  class="list-group-item" id="list-item-1" data-toggle="collapse" href="#cat-collapse" aria-expanded="false" aria-controls="collapseExample" data-placement="left"><strong>Enrégister un catégorie de plats</strong></a>
            <a  class="list-group-item" id="list-item-2" data-toggle="collapse" href="#plat-collapse" aria-expanded="false" aria-controls="collapseExample"><strong>Gérer les plats de réstauration</strong></a>
            <a  class="list-group-item" id="list-item-2" data-toggle="collapse" href="#menu-collapse" aria-expanded="false" aria-controls="collapseExample"><strong>Gérer les Menus de plats</strong></a>
            <a href="#" class="list-group-item" id="list-item-3"><strong>Consulter les commandes d'un clients</strong></a>
            <a  class="list-group-item" id="list-item-4" data-toggle="collapse" href="#valider-commande" aria-expanded="false" aria-controls="collapseExample"><strong>Valider ou regeter une commande</strong></a>
            <a  class="list-group-item" id="list-item-5" data-toggle="collapse" href="#valider-livraison" aria-expanded="false" aria-controls="collapseExample"><strong>Valider la livraison d'une commande</strong></a>
            <a href="#" class="list-group-item" id="list-item-6"><strong>Consulter l'historique des commandes livrées</strong></a>
            <a href="#" class="list-group-item" id="list-item-7"><strong>Consulter l'historique des commandes retirées</strong></a>
            <a href="#" class="list-group-item" id="list-item-8"><strong>Imprimer une facture</strong></a>
        </div>
    </div>
    <div class="col-md-7">
        <div class="collapse" id="cat-collapse">
            #{if categorieList}
                #{if flash.error}
                    <div class="alert alert-danger text-center" role="alert">
                         ${flash.error}
                    </div>
                #{/if}
                #{if flash.success}

                    <div class="alert alert-success text-center" role="alert">
                         ${flash.success}
                    </div>
                #{/if}
            #{/if}
            <div class="well">
                <button type="button" class="btn btn-success btn-lg " data-toggle="modal" data-target="#categorie">
                    <span class="glyphicon glyphicon-plus"></span>
                    Ajouter une categorie de plats
                </button>
                <div class="modal fade" id="categorie" tabindex="-1" role="dialog" aria-labelledby="categorie">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="typeMenuTitle">Enregistrer une Categorie de plats</h4>
                            </div>
                            <div class="modal-body">
                                <div id="formTypeMenu">
                                    <form enctype="multipart/form-data" action="@{controllers.restaurants.Categories.addCategorie()}" class="form-horizontal">
                                        <div class="form-group">
                                            <label for="nomCatEng"  class="col-sm-5 control-label text-justifie">Libéllé de la catégorie</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" id="nomCatEng" placeholder="libellé de la categorie"
                                                       name="nomCatEng" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="desCatEng" class="col-sm-5 control-label text-justifie">Déscriiption de la catégorie</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" id="descCatEng" placeholder="Déscription de la categorie"
                                                       name="descCatEng" required>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" type="submit">ENREGISTRER</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">FERMER</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="list-cate-collapsce">
                    <table class="table table-responsive table-bordered table-hover">
                        <thead>
                        <tr class="active text-center text-primary">
                            <td class="text-center" hidden><strong>ID</strong></td>
                            <td class="text-center"><strong>NOM</strong></td>
                            <td class="text-center"><strong>DESCRIPTION</strong></td>
                            <td class="text-center"><strong>MODIFIER</strong></td>
                            <td class="text-center"><strong>SUPPRIMER</strong></td>
                        </tr>
                        </thead>
                        <tbody>
                        #{list items:categorieList,as:'Cat'}
                        <tr class="text-center">
                            <td class="text-center" hidden>${Cat.getId()}</td>
                            <td class="text-center">${Cat.getNom()}</td>
                            <td class="text-center">${Cat.getDescription()}</td>
                            <td ><span class="glyphicon glyphicon-pencil" data-id="${Cat.getId()}" data-toggle="modal" data-target="#CatModif" onclick="showEditModalCat('${Cat.getId()}', '${Cat.getNom()}', '${Cat.getDescription()}')"></span></td>
                            <td ><span class="glyphicon glyphicon-trash" data-id="${Cat.getId()}" data-toggle="modal" data-target="#catSupp" onclick="showModalSuppCat('${Cat.getId()}', '${Cat.getNom()}')"></span></td>
                        </tr>
                        #{/list}
                        </tbody>
                    </table>
                </div>

                <div class="modal fade" id="CatModif" tabindex="-1" role="dialog" aria-labelledby="CatModif">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="menuTitle">MODIFIER UNE CATEGORIE</h4>
                            </div>
                            <div class="modal-body">
                                <div id="formCat">
                                    <form action="@{controllers.restaurants.Categories.modifCategorie()}" class="form-horizontal">

                                        <div class="form-group" hidden>
                                            <label for="idCatModif" class="col-sm-5 control-label text-justifie">id</label>
                                            <div class="col-sm-7">
                                            <input type="text" class="form-control" id="idCatModif" name="idCatModif" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="nomCatModif" class="col-sm-3 control-label text-justifie">LIBELLE</label>
                                            <div class="col-sm-8">
                                            <input type="text" class="form-control" id="nomCatModif" name="nomCatModif" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="descCatModif" class="col-sm-3 control-label text-justifie">DESCRIPTION</label>
                                            <div class="col-sm-8">
                                            <input type="text" class="form-control" id="descCatModif" name="descCatModif" required>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" type="submit">MODIFIER</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">FERMER</button>
                                    </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal fade" id="catSupp" tabindex="-1" role="dialog" aria-labelledby="catSupp">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="CatTitle">SUPPRIMER UNE CATEGORIE</h4>
                            </div>
                            <div class="modal-body">
                                <div id="formTypeMenu">
                                    <form action="@{controllers.restaurants.Categories.suppCat()}" class="form-horizontal">

                                        <div class="form-group" hidden>
                                            <label for="idCatSup" class="col-sm-3 control-label text-justifie">id</label>
                                            <div class="col-sm-8">
                                            <input type="text" class="form-control" id="idCatSup" name="idCatSup">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="libelleCat" class="col-sm-3 control-label text-justifie">LIBELLE</label>
                                            <div class="col-sm-8">
                                            <input type="text" class="form-control" id="libelleCatSupp" name="libelleCatSupp">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-danger" type="submit">SUPPRIMER</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <script>

                    function showEditModalCat(id, libelle, description) {
                        $("#idCatModif").val(id);
                        $("#nomCatModif").val(libelle);
                        $("#descCatModif").val(description);
                        $("#myModal").modal("show");
                    }

                    function showModalSuppCat(id, libelle) {
                        $("#idCatSup").val(id);
                        $("#libelleCatSupp").val(libelle);
                        $("#delete-modal").modal("show");
                    }


                </script>
            </div>

                <script>

                    function showEditModalMenu(id, nom, description) {
                        $("#idPlatModif").val(id);
                        $("#nomPlatModif").val(nom);
                        $("#descPlatModif").val(description);
                        $("#platModif").modal("show");

                    }

                    function showModalSuppMenu(id, nom) {
                        $("#idPlatSupp").val(id);
                        $("#nomPlatSupp").val(nom);
                        $("#delete-modal-supp").modal("show");
                    }

                    function readURL(input) {
                        if (input.files && input.files[0]) {
                            var reader = new FileReader();

                            reader.onload = function (e) {
                                $("#vuepiece")
                                        .attr('src', e.target.result);
                            };

                            reader.readAsDataURL(input.files[0]);
                        }
                    }


                </script>
        </div>

        <div class="collapse" id="plat-collapse">
            <div class="well">
                <button type="button" class="btn btn-success btn-lg btn-right" data-toggle="modal" data-target="#plat">
                    <span class="glyphicon glyphicon-plus"></span>
                    AJOUTER UN PLAT
                </button>
                <div class="modal fade" id="plat" tabindex="-1" role="dialog" aria-labelledby="plat">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="typeMenuTitle">ENREGISTRER UN PLAT</h4>
                            </div>
                            <div class="modal-body">
                                <div id="formTypeMenu">
                                    <form method="POST" action="@{controllers.restaurants.Plats.addplat()}" enctype="multipart/form-data" class="form-horizontal">
                                        <div class="form-group">
                                            <label for="nomPlatEng" class="col-sm-3 control-label text-left">Nom du plat</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="nomPlatEng" placeholder="Nom du plat"
                                                   name="nomPlatEng" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="descPlatEng" class="col-sm-3 control-label text-left">Dèscription</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="descPlatEng" placeholder="Dèscription"
                                                   name="descPlatEng" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="descriptionEng" class="col-sm-3 control-label text-left">Catégorie</label>
                                            <div class="col-sm-8">
                                            <select class="form-control" id="categPlatEng" name="categPlatEng">
                                            #{list items:categorieList, as:'TPM'}
                                                <option value="${TPM.getId()}">${TPM.getNom()}</option>
                                            #{/list}
                                            </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-4 text-center">
                                                    <label for="image" >Piéce jointe :<span style="color : red;">*</span></label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                                            <img class="tim-fig"src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" id="imagePlatEng" alt="" />
                                                        </div>
                                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                                        <div>
                                            <span class="btn btn-warning btn-file">
                                                <span class="fileupload-new "><i class="fa fa-paper-clip"></i> Choisir la piéce jointe</span>
                                                <span class="fileupload-exists"><i class="fa fa-undo"></i> Changer la piéce jointe</span>
                                                <input type="file" name ="imagePlatEng" id="imagePlatEng" class="form-control" onchange="readURL()"/>
                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" type="submit">ENREGISTRER</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="list-plat-colapsce">
                    <table class="table table-responsive table-hover table-bordered">
                        <th>
                            <tr class="active text-center text-primary">
                                <td class="text-center" hidden><strong>id</strong></td>
                                <td class="text-center"><strong>NOM PLAT</strong></td>
                                <td class="text-center"><strong>DESCRIPTION</strong></td>
                                <td class="text-center"><strong>DISPONIBLE</strong></td>
                                <td class="text-center"><strong>CATEGORIE</strong></td>
                                <td class="text-center"><strong>MODIFIER</strong></td>
                                <td class="text-center"><strong>SUPPRIMER</strong></td>
                            </tr>
                        </th>
                    #{list items:plats, as : 'plat'}
                        <tbody>
                        <tr>
                            <td class="text-center" hidden>${plat.getId()}</td>
                            <td class="text-center">${plat.getNomPlat()}</td>
                            <td class="text-center">${plat.getDescription()}</td>
                            <td class="text-center">${plat.estDisponible()}</td>
                            <td class="text-center">${plat.findCategorieById(plat.getCategorie())}</td>
                            <td class="text-center"><span class="glyphicon glyphicon-pencil success" data-id="${plat.getId()}"
                                                          data-toggle="modal" data-target="#platModif"
                                                          onclick="showEditModalPlat('${plat.getId()}', '${plat.getNomPlat()}', '${plat.getDescription()}','${plat.isDisponible()}','${plat.findCategorieById(plat.getCategorie())}')"></span>
                            </td>
                            <td class="text-center"><span class="glyphicon glyphicon-trash danger" data-id="${plat.getId()}"
                                                          data-toggle="modal" data-target="#platSupp"
                                                          onclick="showModalsuppPlat('${plat.getId()}', '${plat.getNomPlat()}')"></span></td>
                        </tr>
                        </tbody>
                    #{/list}
                    </table>

                    <div class="modal fade" id="platModif" tabindex="-1" role="dialog" aria-labelledby="platModif">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="menuTitle">MODIFIER UN PLAT</h4>
                                </div>
                                <div class="modal-body">
                                    <div id="formMenu">
                                        <form action="@{controllers.restaurants.Plats.modifPlat()}" class="form-horizontal">

                                            <div class="form-group" hidden>
                                                <label for="idPlatModif" class="col-sm-3 control-label text-left">id</label>
                                                <div class="col-sm-8">
                                                <input type="text" class="form-control" id="idPlatModif" name="idPlatModif" required>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="nomPlatModif" class="col-sm-3 control-label text-left">Nom du plat</label>
                                                <div class="col-sm-8">
                                                <input type="text" class="form-control" id="nomPlatModif" name="nomPlatModif" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="descPlatModif" class="col-sm-3 control-label text-left">Dèscription</label>
                                                <div class="col-sm-8">
                                                <input type="text" class="form-control" id="descPlatModif" name="descPlatModif" required>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="despoPlatModif" class="col-sm-3 control-label text-left">Disponibilité</label>
                                                <div class="col-sm-8">
                                                <select class="form-control" id="despoPlatModif" name="despoPlatModif">
                                                    <option value="true">Disponible</option>
                                                    <option value="false">Non disponible</option>
                                                </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="typeMenuModif" class="col-sm-3 control-label text-justifie">Catégorie</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" id="categPlatModif" name="categPlatModif">
                                                    #{list items:categorieList, as:'TPM'}
                                                        <option value="&{TPM.getId()}">&{TPM.getNom()}</option>
                                                    #{/list}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary" type="submit">MODIFIER</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="platSupp" tabindex="-1" role="dialog" aria-labelledby="platSupp">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="typePlatTitle">Supprimer Plat</h4>
                                </div>
                                <div class="modal-body">
                                    <div id="formTypeMenu">
                                        <form action="@{controllers.restaurants.plats.supPlat()}" class="form-horizontal">

                                            <div class="form-group" hidden>
                                                <label for="idPlatSupp" class="col-sm-3 control-label text-left">id</label>
                                                <div class="col-sm-8">
                                                 <input type="text" class="form-control" id="idPlatSupp" name="idPlatSupp">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="libelleEng" class="col-sm-3 control-label text-left">Nom du plat</label>
                                                <div class="col-sm-8">
                                                <input type="text" class="form-control" id="nomPlatSupp" name="nomPlatSupp">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-danger" type="submit">SUPPRIMER</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
#{if plats}
                #{ifErrors}
                    ${errors[]}
                #{/ifErrors}
                #{if flash.error}
                    <div class="alert alert-danger text-center" role="alert">
                    ${flash.error}
                    </div>
                #{/if}
                #{if flash.success}

                    <div class="alert alert-success text-center" role="alert">
                        ${flash.success}
                    </div>
                #{/if}
#{/if}
                    <script>

                        function showEditModalPlat(id, nom, description, disponible, categorie) {
                            $("#idPlatModif").val(id);
                            $("#nomPlatModif").val(nom);
                            $("#descPlatModif").val(description);
                            $("#despoPlatModif").val(disponible);
                            $("#categPlatModif").val(categorie);
                            $("#platModif").modal("show");
                            $("#imagePlatEng").val(image);
                        }

                        function showModalsuppPlat(id, nom) {
                            $("#idPlatSupp").val(id);
                            $("#nomPlatSupp").val(nom);
                            $("#delete-modal").modal("show");
                        }

                        function readURL(input) {
                            if (input.files && input.files[0]) {
                                var reader = new FileReader();

                                reader.onload = function (e) {
                                    $("#vuepiece")
                                            .attr('src', e.target.result);
                                };

                                reader.readAsDataURL(input.files[0]);
                            }
                        }


                    </script>
                </div>
            </div>
        </div>

        <div class="collapse" id="menu-collapse">
            <div class="well">
                <button type="button" class="btn btn-success btn-lg btn-right" data-toggle="modal" data-target="#menu">
                    <span class="glyphicon glyphicon-plus"></span>
                    AJOUTER UN MENU
                </button>

                <div class="modal fade" id="menu" tabindex="-1" role="dialog" aria-labelledby="menu">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="typeMenuTitle">ENREGISTRER UN MENU</h4>
                            </div>
                            <div class="modal-body">
                                <div id="formTypeMenu">
                                    <form action="@{controllers.restaurants.menus.addMenu()}" class="form-horizontal">
                                        <div class="form-group">
                                            <label for="libelleEng" class="col-sm-3 control-label text-left">LIBELLE</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="libelleEng" placeholder="libelle"
                                                       name="libelleEng" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="descriptionEng" class="col-sm-3 control-label text-left">TYPE MENU</label>
                                            <div class="col-sm-8">
                                            <select class="form-control" id="typeMenuEng" name="typeMenuEng">
                                                #{list items:typeMenus, as:'TPM'}
                                                    <option value="&{TPM.getId()}">&{TPM.getLibelle()}</option>
                                                #{/list}

                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" type="submit">ENREGISTRER</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- class="col-sm-3 control-label text-justifie" -->
                <table class="table table-responsive table-bordered table-hover">
                    <th>
                        <tr class="primary">
                            <td class="text-center" hidden>id</td>
                            <td class="text-center">CALENDRIE</td>
                            <td class="text-center">LIBELLE</td>
                            <td class="text-center">TYPE MENU</td>
                            <td class="text-center">MODIFIER</td>
                            <td class="text-center">SUPPRIMER</td>
                        </tr>
                    </th>
                #{list items:menus, as : 'menu'}
                    <tbody>
                    <tr>
                        <td class="text-center" hidden>${menu.getId()}</td>
                        <td class="text-center">${menu.getCalendrie().format('dd MMMM yyyy hh:mm:ss')}</td>
                        <td class="text-center">${menu.getLibelle()}</td>
                        <td class="text-center">${menu.findLibelleById(menu.getTypeMenu())}</td>
                        <td class="text-center"><span class="glyphicon glyphicon-pencil success" data-id="${menu.getId()}"
                                                      data-toggle="modal" data-target="#menuModif"
                                                      onclick="showEditModal('${menu.getId()}', '${menu.getLibelle()}','${menu.getCalendrie().format('dd MMMM yyyy hh:mm:ss')}','${menu.findLibelleById(menu.getTypeMenu())}')"></span>
                        </td>
                        <td class="text-center"><span class="glyphicon glyphicon-trash danger" data-id="${menu.getId()}"
                                                      data-toggle="modal" data-target="#menuSupp"
                                                      onclick="showModal('${menu.getId()}', '${menu.getLibelle()}')"></span></td>
                    </tr>
                    </tbody>
                #{/list}
                </table>

                <div class="modal fade" id="menuModif" tabindex="-1" role="dialog" aria-labelledby="menuModif">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="menuTitle">MODIFIER UN MENU</h4>
                            </div>
                            <div class="modal-body">
                                <div id="formMenu">
                                    <form action="@{controllers.restaurants.menus.modifMenu()}" class="form-horizontal">

                                        <div class="form-group" hidden>
                                            <label for="idModif">id</label>
                                            <input type="text" class="form-control" id="idModif" name="idModif" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="libelleEng" class="col-sm-3 control-label text-left">LIBELLE</label>
                                            <div class="col-sm-8">
                                            <input type="text" class="form-control" id="libelleModif" name="libelleModif" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="typeMenuModif" class="col-sm-3 control-label text-left">TYPE MENU</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="typeMenuModif" name="typeMenuModif">
                                                    #{list items:typeMenus, as:'TPM'}
                                                        <option value="&{TPM.getId()}">&{TPM.getLibelle()}</option>
                                                    #{/list}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="calendarModif" class="col-sm-3 control-label text-left">CALENDRIE</label>
                                            <div class="col-sm-8">
                                            <input type="datetime-local" class="form-control" id="calendarModif" name="calendarModif">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" type="submit">MODIFIER</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- class="col-sm-3 control-label text-justifie" -->
                <div class="modal fade" id="menuSupp" tabindex="-1" role="dialog" aria-labelledby="menuSupp">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="typeMenuTitle">Supprimer Menus</h4>
                            </div>
                            <div class="modal-body">
                                <div id="formTypeMenu">
                                    <form action="@{controllers.restaurants.menus.suppMenu()}" class="form-horizontal">

                                        <div class="form-group" hidden>
                                            <label for="libelleEng" class="col-sm-3 control-label text-left">id</label>
                                            <div class="col-sm-8">
                                            <input type="text" class="form-control" id="idSupp" name="idSupp">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="libelleEng" class="col-sm-3 control-label text-left">LIBELLE</label>
                                            <div class="col-sm-8">
                                            <input type="text" class="form-control" id="libelleSupp" name="libelleSupp">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-danger" type="submit">SUPPRIMER</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <script>

                    function showEditModal(id, libelle, calendrie, typemenu) {
                        $("#idModif").val(id);
                        $("#libelleModif").val(libelle);
                        $("#calendarModif").val(calendrie);
                        $("#typeMenuModif").val(typemenu);
                        $("#myModal").modal("show");
                    }

                    function showModal(id, libelle) {
                        $("#idSupp").val(id);
                        $("#libelleSupp").val(libelle);
                        $("#delete-modal").modal("show");
                    }


                </script>

            </div>
        </div>

        <div class="collapse" id="valider-commande">
            <div class="well">
                <div id="list-plat-colapsce">
                    <table class="table table-responsive table-hover table-bordered">
                        <th>
                            <tr>
                                <td class="text-center"><strong>N°</strong></td>
                                <td class="text-center"><strong>DATE</strong></td>
                                <td class="text-center"><strong>PRIX</strong></td>
                                <td class="text-center"><strong>VALIDER</strong></td>
                                <td class="text-center"><strong>ETAT</strong></td>
                            </tr>
                        </th>
                    <tbody>
                    #{list commandes,as:'cmdes'}
                        <tr>
                            <td class="text-center">${cmdes.getId()}</td>
                            <td class="text-center">${cmdes.getDateComm()}</td>
                            <td class="text-center">${cmdes.getPrixComm()}</td>
                            <td class="text-center">${cmdes.isValide()}</td>
                            <td class="text-center">${cmdes.getEtatComm()}</td>
                        </tr>
                    #{/list}
                    </tbody>
                    </table>

            </div>
        </div>
    </div>

        <div class="collapse" id="valider-livraison">
            <div class="well">
                <div id="list-plat-colapsce">
                    <table class="table table-responsive table-hover table-bordered">
                        <th>
                            <tr>
                                <td class="text-center"><strong>N°</strong></td>
                                <td class="text-center"><strong>LIVRER</strong></td>
                                <td class="text-center"><strong>ADRESSE</strong></td>
                                <td class="text-center"><strong>LIVREUR</strong></td>
                                <td class="text-center"><strong>N° COMMANDE</strong></td>
                            </tr>
                        </th>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
        </div>
    </div>
</div>
    </div>
</div>

<style>
    #list-cate-collapsce{
        margin-top: 2rem;
    }
</style>
