#{extends 'partenaire.html'/}
#{set title:'Espace Agent'/}

<div class="alert alert-success text-center" role="alert">Bienvenue Sur l'espace en Partenaire</div>
<div class="list-group">
    <a href="#" class="list-group-item">Enrégister un catégorie de plats</a>
    <a href="#" class="list-group-item">Gérer les plats de réstauration</a>
    <a href="#" class="list-group-item">Consulter les commandes d'un clients</a>
    <a href="#" class="list-group-item">Valider ou regeter une commande</a>
    <a href="#" class="list-group-item">Valider la livraison d'une commande</a>
    <a href="#" class="list-group-item">Consulter l'historique des commandes livrées</a>
    <a href="#" class="list-group-item">Consulter l'historique des commandes retirées</a>
    <a href="#" class="list-group-item">Imprimer une facture</a>
</div>

<style>
    .list-group{
        width: 30%;
    }
    .list-group-item:hover{
        background-color: #2b669a;
    }
    .alert-success{
        width: 75%;
position: relative;
    }
</style>