#{extends 'main.html'/}
<style>
    #carousel-plat{
        margin-left: 5rem;
        width: 100%;
    }
    #carousel-plat img{
        height:180px;
        width: 220px;
    }
    .zone{
        border: #bd2130 1px solid;
        border-radius: 10px;
        width: 220px;
        margin-top: 15px;
        padding: 8px
    }
    .zone-contour{
        margin-right: -20px;
    }
    #info-zone{
        color: #bd2130;
        margin-left: 5rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
</style>
<h2 id="info-zone"><strong>C'est tout frais</strong></h2>
<div class="row" id="carousel-plat">
    <div class="col-md-3 zone-contour" >
        <img class="img-responsive img-rounded" src="${plat.getImage()}" >
        <div class="zone">
            <p>${plat.getDescription()}</p>
            <p><strong>${plat.getNomPlat()}</strong></p>
        </div>
    </div>
#{list items:platList,as:'platl'}
    <div class="col-md-3 zone-contour">
        <img class="img-responsive img-rounded" src="${platl.getImage()}" >
        <div class="zone">
            <p>${platl.getDescription()}</p>
            <p> <strong>${platl.getNomPlat()}</strong>t</p>
        </div>
    </div>
#{/list}
</div>
