#{extends '/portail/partenaire/Dashboards/dashboard.html'/}
#{set title:'Enregistré  des categories'/}
<h3 class="text-center text-primary"><strong>Ajouter un prix a un plat</strong></h3>
<div id="formTypeMenu">
    <form enctype="multipart/form-data" action="@{controllers.restaurants.DatePrixs.addDPrix()}" class="form-horizontal">
        <div class="form-group">
            <label for="nomCatEng"  class="col-sm-2 control-label text-justifie">PLAT</label>
            <div class="col-sm-7">
                <select class="form-control" id="idPlat" name="idPlat">
                #{list items:plats, as:'plat'}
                    <option value="${plat.getId()}">${plat.getNomPlat()}</option>
                #{/list}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="desCatEng" class="col-sm-5 control-label text-justifie">PRIX</label>
            <div class="col-sm-7">
                <input type="number" class="form-control" id="montantEngDP" placeholder="10000000000"
                       name="montantEngDP" required>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">ENREGISTRER</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">FERMER</button>
        </div>
    </form>
</div>
