
<html>
<head>
    <title>Mes achats</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../../public/stylesheets/css/monStyle.css" rel="stylesheet" type="text/css"/>
    <link href="../../../../public/stylesheets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="../../../../public/stylesheets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <!-- Brand -->
        <div class="navbar-header">
            <ul><ul class="navbar-brand" style="color: dodgerblue; font-size: 40px"><strong>Shop</strong></ul><ul class="navbar-brand" style="color: hotpink; font-size: 40px;margin-left: -35px"><strong>Online</strong></ul></ul>
        </div>
    </div>
</nav><br/>

<div class="container-fluid">
    <div class="row form-group">
        <div class="col-sm-8 col-12">
            <h2 style="color: black;margin-bottom: 50px;margin-right: 390px"><strong>Finaliser mes achats</strong></h2>
            <div  style=" width: 100%;">
                <ul  id="progressbar" style="padding-top: 25px; padding-bottom: 0px;text-align:center;">
                    <li class="itl active" style="color: black;font-size: 12px;" >Panier</li>
                    <li class="itl" style="color: black;font-size: 12px">Détails client</li>
                    <li class="itl" style="color: black;font-size: 12px">Mode de livraison</li>
                    <li class="itl" style="color: black;font-size: 12px">Mode de paiement</li>
                    <li class="itl" style="color: black;font-size: 12px">Récapitulatif</li>
                </ul>
            </div>
            <!-- fieldsets -->
            <!--La page de panier-->
            <form class="col-sm-12 col-12" id="msform" action="@{saveCommandeClient()}" method="POST">
                <fieldset id="fields-1">
                    <h1 class="fs-title" style="font-size:20px">Votre panier est prêt</h1>
                    <h2 class="fs-subtitle" style="font-size:17px">Nous avons fait votre panier</h2>
                    <h2 class="fs-subtitle" style="font-size:15px">Suivez les étapes afin de confirmer votre commande</h2>
                    <button class="btn btn-primary" style="width:30%;height: 40px;font-family: -webkit-pictograph; font-size:15px">
                        <!-- chemin vers le panier-->
                        <a href="" style="color:white">Retour</a>
                    </button>
                    <input id="btn-next-1" type="button" class="btn btn-success" value="Suivant" style="font-size:15px;width:30%;border-radius:5%;color:white;padding-top:9px;padding-bottom:9px;margin-top:10px;" />
                </fieldset>

                <fieldset id="fields-2">
                    <h2 class="fs-title" style="text-align:center;margin-top:10px">Détails client</h2>
                    <span id="msgAuth"></span>
                    </br>
                    <div class="form-group">
                        <div class="form-check" style="padding-left: 3.25rem">
                            <label class="form-check-label" style="margin-left:20px">
                            <input onclick="showFCompte()" style="width:auto;" class="form-check-input selected" name="grouprad1" type="radio" id="radioN1" checked="true">
                            J'ai un compte</label></br>
                        </div>
                        <div class="form-group" id="formCompte">
                            <!--La première partie, jai un compte-->
                            <div class="row form-group">
                                <div class="col-sm-6">
                                    <label for="nomUs">Login</label>
                                    <input type="text" name="nomUs" style="padding:5px;font-size:15px" id="nomUs" autocomplete="off" required="true"/>
                                </div>
                                <div class="col-sm-6">
                                    <label for="pass">Mot de passe</label>
                                    <input type="password" style="padding:5px;font-size:15px" id="pass" name="pass" autocomplete="off" required="true"/>
                                </div>
                            </div>
                            <!--<div class="row form-group">
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-primary next action-button" style="width:100%">Se Connecter</button>
                                        </div>
                                    </div>-->
                        </div>
                        <!--Fin de la première partie-->
                    </div>
                    <br/>
                    <!--Deuxème partie je n'ai pas de compte-->
                    <div class="form-group">
                        <div class="form-check" style="padding-left: 3.25rem">
                            <label class="form-check-label" style="margin-left:20px">
                            <input onclick="showFPasCompte()" style="width:auto;" class="form-check-input" name="grouprad1" type="radio" id="radioN2">
                            Je n'ai pas de compte</label></br>
                        </div>
                        <div class="form-group" id="formPasDeCompte" hidden="true">
                            <div class="row form-group">
                                <div class="col-sm-6">
                                    <label for="nom">Nom</label>
                                    <input name="nom" type="text" style="padding:5px;font-size:15px" class="form-control" id="nom" required="true" autocomplete="off">
                                </div>
                                <div class="col-sm-6">
                                    <label for="Pren">Prénom(s)</label>
                                    <input type="text" name="prenom" style="padding:5px;font-size:15px" class="form-control" id="Pren" required="true" autocomplete="off">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-6">
                                    <label for="Tel">Téléphone</label>
                                    <input type="NumTel" style="padding:5px;font-size:15px" class="form-control" id="Tel" required="true" autocomplete="off">
                                </div>
                                <div class="col-sm-6">
                                    <label for="Ville">Ville</label>
                                    <input type="text" style="padding:5px;font-size:15px" class="form-control" id="Ville" required="true" autocomplete="off">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-sm-6">
                                    <label for="Quartier">Quartier</label>
                                    <input type="text" style="padding:5px;font-size:15px" class="form-control" id="Quartier" required="true" autocomplete="off">
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label" for="login">Login</label>
                                    <input name="username" style="font-size:15px" type="text" class="form-control" id="login" required="true" autocomplete="off">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="inputMdp">Mot de passe</label>
                                    <input type="password" style="padding:5px;font-size:15px" class="form-control" id="inputMdp" required="true">
                                </div>
                                <div class="col-sm-6">
                                    <label for="pwd">Confirmation du mot de passe</label>
                                    <input type="password" style="padding:5px;font-size:15px" class="form-control" id="pwd" required="true">
                                </div>
                            </div>

                            <div class="row form-group">
                                <label for="code">Entrer ce code svp : </label>
                                <img src="@{controllers.commandes.Commandes.captcha(randomID)}" />
                                <br />
                                <input type="text" name="code" id="code" size="18" value="" />
                                <input type="hidden" name="randomID" value="${randomID}" />

                            </div>
                        </div>
                    </div>
                    <!--Fin de la deuxième partie-->
                    <input id="btn-previous-1" type="button" class="btn btn-primary" value="Retour au panier" style="font-size:15px;width:30%;border-radius:5%;color:white;padding-top:9px;padding-bottom:9px;" />
                    <input id="btn-next-2" type="button" class="btn btn-success" value="Continuer sur le mode de livraison" style="font-size:15px;width:40%;border-radius:5%;color:white;padding-top:9px;padding-bottom:9px;" />
                </fieldset>
                <!--La page du mode de livraison-->
                <fieldset id="fields-3">
                    <h2 class="fs-title">Mode de livraison</h2>
                    <div class="form-group" style="padding:10px 20px 0px;margin-right: 15px">
                        <div class="form-checkform-group" style="margin-left: -17.25rem;margin-top: 44px;margin-bottom: -43px;">
                            <input style="width:auto;margin-top: -4%;margin-left: 18%" onclick="hideFrais()" class="form-check-input" value="Retrait sur place" name="rd" type="radio" id="radioRetrait" checked="true">
                        </div>
                        <input type="text" name="retrait" value="Retrait sur place" class="form-control" id="retrait" style="padding:10px;font-size:15px"  disabled="true">
                    </div></br>
                    <div class="form-group" style="margin-top: 35px;margin-right: 35px;margin-left: 21px">
                        <div class="form-checkform-group" style="margin-left: -12px;margin-top: 44px;margin-bottom: -43px;">
                            <input style="width:auto;margin-left: -1%;margin-top: 1%" onclick ="showFrais()" class="form-check-input" value="Livraison à domicile" name="rd" type="radio" id="radioDomicile">
                        </div>
                        <input type="text" name="domicile" value="Livraison à domicile" class="form-control " id="domicile" style="padding:10px;font-size:15px"  disabled="true">
                    </div>
                    <div class="form-row" id="fAdr" style="display:none;">
                        <div class="form-group col-md-8">
                            <label>Adresse de livraison</label>
                            <input type="text" name="lieuLiv" style="padding:5px;font-size:15px" class="form-control" id="inputadr" required="true" autocomplete="off">
                        </div>
                        <br/>
                    </div>
                    <input id="btn-previous-2" type="button" class="btn btn-primary" value="Retour au détails client" style="font-size:15px;width:30%;border-radius:5%;color:white;padding-top:9px;padding-bottom:9px;"/>
                    <input id="btn-next-3" type="button" class="btn btn-success" value="Continuer sur le mode de paiement" style="font-size:15px;width:40%;border-radius:5%;color:white;padding-top:9px;padding-bottom:9px;" />
                </fieldset>
                <!--La page du mode de paiement-->

                <fieldset id="fields-4">
                    <h2 class="fs-title">Mode de paiement</h2>

                    <div class="row">
                        <div class="col-md-6" style="padding:10px 20px 0px;margin-right: 15px;margin-top:0px;margin-left:10px">
                            <div style="margin-left: 0px;margin-top: 44px;margin-bottom: -43px;">
                                <input style="width:auto;margin-top: -7%;margin-left:-4%;" class="form-check-input" name="ra" type="radio" value="Carte de crédit" id="radioCarte" checked="true">
                            </div>
                            <input type="text" style="font-size:15px" value="Carte de crédit" id="carte"  disabled="true">
                        </div>
                        <div class="col-md-6" style="margin-top: 0px;margin-right: 35px;margin-left: 16px">
                            <div  style="margin-left: -12px;margin-top: 44px;margin-bottom: -43px;">
                                <input style="width:auto;margin-left: -1%;margin-top:-5%" class="form-check-input" name="ra" type="radio" value="Porte monnaie électronique" id="radioPorte">
                            </div>
                            <input type="text" style="font-size:15px" value="Porte monnaie électronique" id="porte"  disabled="true">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label>Adresse de facturation</label>
                            <input type="text" style="font-size:15px" style="padding:5px" class="form-control" name="adresseFactu" id="inputadrFac" autocomplete="off">
                        </div>
                    </div>
                    <input id="btn-previous-3" type="button" class="btn btn-primary" value="Retour au mode de livraison" style="font-size:15px;width:30%;border-radius:5%;color:white;padding-top:9px;padding-bottom:9px;" />
                    <input id="btn-next-4" type="button" class="btn btn-success" value="Terminer mon achat" style="font-size:15px;width:30%;border-radius:5%;color:white;padding-top:9px;padding-bottom:9px;"/>
                </fieldset>

                <!--La page de récapitulatif-->
                <fieldset id="fields-5">
                    <h2 class="fs-title">Récapitulatif</h2>
                    <div class="row adrLivr" style="display:none;">
                        <div class="col-md-10">
                            <input type="text" style="font-size:15px" style="padding:5px" class="form-control" id="adresseLiv" placeholder="Adresse de livraison: " disabled="true">
                        </div><br/>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" style="font-size:15px" style="padding:5px" class="form-control" id="modeLivraison" disabled="true">
                        </div><br/>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" style="font-size:15px" style="padding:5px" class="form-control" id="modPaie" disabled="true">
                        </div><br/>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" style="font-size:15px" style="padding:5px" id="adrFactu" class="form-control" placeholder="Adresse de facturation: " disabled="true">
                        </div><br/>
                    </div>

                    <input id="btn-previous-4" type="button" class="btn btn-primary" value="Retour au mode de paiement" style="font-size:15px;width:30%;border-radius:5%;color:white;padding-top:9px;padding-bottom:9px;"/>
                    <input id="btn-next-5" type="submit" class="btn btn-success" value="Confirmer ma commande" style="font-size:15px;width:30%;border-radius:5%;color:white;padding-top:9px;padding-bottom:9px;"/>
                </fieldset>

            </form>
        </div>

        <div class="col-sm-4" style="margin-left: 0px;margin-right: 0px;margin-bottom: -75px;padding-right: 0px;margin-top:-100px">
            <div class="card w-75" style="margin-top: 60px">
                <div class="card-body" style="padding: 0.25rem">
                    <h5 class="card-title" style="font-size:20px;text-align:center"><strong>Mon panier</strong></h5>
                #{list items:produits, as :'produit'}
                    <div class="card w-50">
                        <div class="card-body">
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <img src="${produit.imageProd}" style="width:80px"/>
                                </div>
                                <div class="col-sm-6">
                                    <h5 class="card-title" style="font-size:18px">${produit.description}</h5>
                                </div>
                                <div class="col-sm-3">
                                    <h5 class="card-title" style="font-size:18px">${produit.prix}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                #{/list}
                    <div class="form-group">
                        <div class="col-md-8">
                            <h5>TOTAL ACHAT</h5>
                        </div>
                        <div class="col-md-4">
                            <h5 id="sousT">${amount}</h5>
                        </div>
                    </div>
                    <div class="form-group" hidden id="frais">
                        <div class="col-md-8">
                            <h6>Frais de livraison</h6>
                        </div>
                        <div class="col-md-4">
                            <h6>1000</h6>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <h5><strong>TOTAL A PAYER</strong></h5>
                        </div>
                        <div class="col-md-4">
                            <h5 id="totaux" style="font-weight: bold;">${amount}</h5>
                        </div>
                    </div>
                    </br>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog"  role="document">
        <div class="modal-content">
            <form action="" method="post">
                <div class="modal-header">
                    <h3 class="modal-title">Finaliser mes achats</h3>
                </div>
                <div class="modal-body">
                    <p><h4>Merci de votre visite</h4></p>
                    <p><h4>Votre commande a bien été prise en compte</h4></p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="" name="id">
                    <!-- Methode de verification de compte-->
                    <button class="btn btn-primary" type="" style="width:55px"><a href="">Ok</a></button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--******************************************************************************************************************"""""""""""-->

<!--******************************************************************************************************************"""""""""""-->


<!--<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>-->
<script src="../../../../public/javascripts/js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="../../../../public/javascripts/js/jquery.easing.min.js" type="text/javascript"></script>
<script src="../../../../public/javascripts/js/index.js" type="text/javascript"></script>


<script>
    function showFrais() {
        $("#frais").removeClass("hidden");
        $("#frais").addClass("show");
        $("#totaux").text(parseInt($("#sousT").text()) + 1000);
        $("#fAdr").show();
        $(".adliv").show();
        $(".adrLivr").show();
    }

    function hideFrais() {
        $("#frais").toggleClass("hidden");
        $("#totaux").text(parseInt($("#sousT").text()));
        $("#fAdr").hide();
        $(".adliv").hide();
        $(".adrLivr").hide();
    }

    function showFCompte() {
        $("#formPasDeCompte").addClass("hidden");
        $("#formCompte").removeClass("hidden");
        $("#formCompte").addClass("show");

    }

    function showFPasCompte() {
        $("#formCompte").addClass("hidden");
        $("#formPasDeCompte").removeClass("hidden");
        $("#formPasDeCompte").addClass("show");

    }

    //les bouttons next

    $("#btn-next-1").on("click", function () {
        if (true)
            next(this);
    });

    $("#btn-next-2").on("click", function () {

        var radio1 =  document.getElementById("radioN1").checked;
        var radio2 =  document.getElementById("radioN2").checked;

        //  alert("Firstv :"+radio1+" and second :"+radio2);
        var ok = true;
        var e = $("#nomUs").val();
        var p = $("#pass").val();
        var n = $("#nom").val();
        var pren = $("#Pren").val();
        var ville = $("#Ville").val();
        var quartier = $("#Quartier");
        var tel = $("#Tel").val();
        var adr = $("#adresse").val();
        var log = $("#login").val();
        var pwd = $("#inputMdp").val();
        var mdp = $("#pwd").val();

        //si le premier boutton radio est sélectionné

        if(radio1 === true){
            /// alert("First");
            if ((e === null || e === "") || (p === null || p === "")) {
                $("#nomUs").css("border-color","#FF2A2A");
                $("#pass").css("border-color", "#FF2A2A");

            }
            // console.log(ok);
            $.ajax({
                type : "POST",
                url : "@{controllers.Security.authenticate()}",
                data : {
                    "username" : e,
                    "password" : p,
                },
                success : function(data){
                    if(data === "true"){
                        ok=true;
                        next($("#btn-next-2"));
                    }else{
                        ok=false;
                        $("#msgAuth").append("<div class='alert alert-danger'>Nom d'utilisateur ou mot de passe incorrect!!</div>");

                    }
                },
                error : function(data){

                }
            });

        }   else if(radio2 === true){
            if (n === null || n === "") {
                ok = false;
                $("#nom").css("border-color","#FF2A2A");
               // alert("Veuillez saisir votre nom");

            } else if (pren === null || pren === "") {
                ok = false;
               // alert("Veuillez saisir votre prénom");
                $("#Pren").css("border-color","#FF2A2A");

            } else if (ville === null || ville === "") {
                ok = false;
                //alert("Veuillez saisir votre email");
                $("#Ville").css("border-color","#FF2A2A");

            }else if (quartier === null || quartier === "") {
                ok = false;
                //alert("Veuillez saisir votre email");
                $("#Quartier").css("border-color","#FF2A2A");

            } else if (tel === null || tel === "") {
                ok = false;
                //alert("Veuillez saisir votre numéro de téléphone");
                $("#Tel").css("border-color","#FF2A2A");

            } else if (adr === null || adr === "") {
                ok = false;
               // alert("Veuillez saisir votre adresse");
                $("#adresse").css("border-color","#FF2A2A");

            } else if (log === null || log === "") {
                ok = false;
               // alert("Veuillez saisir votre login");
                $("#login").css("border-color","#FF2A2A");

            } else if (pwd === null || pwd === "") {
                ok = false;
                //alert("Veuillez saisir votre mot de passe");
                $("#inputMdp").css("border-color","#FF2A2A");

            } else if (mdp === null || mdp === "") {
                ok = false;
               // alert("Veuillez confirmer votre mot de passe");
                $("#pwd").css("border-color","#FF2A2A");
            } else if (pwd !== mdp) {
                ok = false;
                //alert("Les mots de passe ne sont pas identiques");
                $("#pwd").css("border-color","#FF2A2A");
                $("#inputMdp").css("border-color","#FF2A2A");
            }


            $.ajax({
                type : "POST",
                url : "@{controllers.commandes.Clients.addClient()}",
                data : {
                    "nomEng" : n,
                    "prenomEng" : pren,
                    "QuartierEng" : quartier,
                    "loginEng" : log,
                    "VilleEng" : ville,
                    "TelephoneEng" : tel,
                    "passwordEng" : pwd,
                },
                success : function(data){
                    if(data === "true"){
                        ok=true;
                        next($("#btn-next-2"));
                    }else{
                        ok=false;
                        $("#msgAuth").append("<div class='alert alert-danger'>Une erreur s'est produite!!</div>");

                    }
                },
                error : function(data){

                }
            });
        }
        /*    if ($("#radioN1").on("checked")) {

        } else if ($("#radioN2").on("checked")) {


        }   */

    });

    $("#btn-next-3").on("click", function () {
        var ok = true;
        var radioRetrait  = document.getElementById("radioRetrait");
        var radioDomicile  = document.getElementById("radioDomicile");
        if (ok)
            next(this);
    });

    $("#btn-next-4").on("click", function () {
        var ok = true;
        var adrF = $("#inputadrFac").val();
        var radRetrait=document.getElementById("radioRetrait").checked;
        var radDomicile=document.getElementById("radioDomicile").checked;
        var radCarte=document.getElementById("radioCarte").checked;
        var radPorte=document.getElementById("radioPorte").checked;

        if (radDomicile) {
            $("#adresseLiv").val("Adresse de livraison: " + $("#inputadr").val());
            $("#modeLivraison").val("Mode de livraison: " + $("#radioDomicile").val());

        } else if (radRetrait) {
            $("#modeLivraison").val("Mode de livraison: " + $("#radioRetrait").val());
        }

        if (radPorte) {
            $("#modPaie").val("Mode de paiement: " + $("#radioPorte").val());
            $("#adrFactu").val("Adresse de facturation: " + $("#inputadrFac").val());

        } else if (radCarte) {
            $("#modPaie").val("Mode de paiement: " + $("#radioCarte").val());
            $("#adrFactu").val("Adresse de facturation: " + $("#inputadrFac").val());
        }

        if (ok === true)
            next(this);
    });

    $("#btn-next-5").on("click", function () {
        $("#msform").submit();
        $("#confirm-modal").modal("show");
    });

    //les bouttons previous
    $("#btn-previous-1").on("click", function () {
        if (true)
            previous(this);
    });

    $("#btn-previous-2").on("click", function () {
        if (true)
            previous(this);
    });

    $("#btn-previous-3").on("click", function () {
        if (true)
            previous(this);
    });

    $("#btn-previous-4").on("click", function () {
        if (true)
            previous(this);
    });

    function showConfirm(){
        $("#confirm-modal").modal("show");
    }


</script>

</body>
</html>
