#{extends 'main.html'/}
#{set title:'TypeMenu'/}
<style type="text/css">
    #formTypeMenu{
        margin: 10px 10px 10px 10px;
    }
</style>
<h3 class="text-center text-danger">Type Menu</h3>



<!-- Button trigger modal -->
<button type="button" class="btn btn-success btn-lg btn-right" data-toggle="modal" data-target="#typeMenu">
   <span class="glyphicon glyphicon-plus"></span>
    Ajouter Type Ménu
</button>

<!-- Modal typeMenu-->
<div class="modal fade" id="typeMenu" tabindex="-1" role="dialog" aria-labelledby="typeMenu">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="typeMenuTitle">Types Menus</h4>
            </div>
            <div class="modal-body">
                <div id="formTypeMenu">
                    <form action="@{controllers.restaurants.typemenus.addTypeMenu()}" class="form-horizontal">
                        <div class="form-group">
                            <label for="libelleEng">Libellé</label>
                            <input type="text" class="form-control" id="libelleEng" placeholder="libelle" name="libelleEng"required>
                        </div>
                        <div class="form-group">
                            <label for="descriptionEng">Déscription</label>
                            <input type="text" class="form-control" id="descriptionEng" placeholder="Description" name="descriptionEng"required>
                        </div>
                        <button class="btn btn-primary" type="submit">ENREGISTRER</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

