#{extends 'main.html'/}
#{set 'Information'/}
<div>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>
</div>
<div class="media">
    <div class="media-left media-middle">
        <a href="#">
            <img class="media-object" src="/public/data/img1.jpg" alt="...">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Middle aligned media</h4>
        ...
    </div>
</div>