#{extends '/portail/partenaire/Dashboard/dashboard.html'/}
#{set title:'Enregistré  des categories'/}
<h3 class="text-center text-primary"><strong>Ajouter une catégorie</strong></h3>
<div id="formTypeMenu">
                    <form enctype="multipart/form-data" action="@{controllers.restaurants.Categories.addCategorie()}" class="form-horizontal">
                        <div class="form-group">
                            <label for="nomCatEng"  class="col-sm-5 control-label text-justifie">Libéllé de la catégorie</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="nomCatEng" placeholder="libellé de la categorie"
                                       name="nomCatEng" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="desCatEng" class="col-sm-5 control-label text-justifie">Déscriiption de la catégorie</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="descCatEng" placeholder="Déscription de la categorie"
                                       name="descCatEng" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">ENREGISTRER</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">FERMER</button>
                        </div>
                    </form>
            </div>
