#{extends 'Application/index.html'/}
<style>
    #carousel-plat{
        margin-left: 5rem;
        width: 100%;
    }
    #carousel-plat img{
        height:180px;
        width: 220px;
    }
    .zone{
        border: #ED2553 1px solid;
        border-radius: 10px;
        width: 220px;
        margin-top: 15px;
        padding: 8px
    }
    .zone-contour{
        margin-right: -20px;
    }
    #info-zone{
        color: #ED2553;
        margin-left: 5rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    .zone a{
        padding: 5px;
        background-color: #ED2553;
        list-style: none;
        color: white;
    }
</style>
<h2 id="info-zone"><strong>C'est tout frais</strong></h2>
<!--
<div class="row" id="carousel-plat">
    <div class="col-md-3 zone-contour" >
        <img class="img-responsive img-rounded" src="${plat.getImage()}" >
        <div class="zone">
            <a type="button">Decouvrir</a>
            <p>${plat.getDescription()}</p>
            <p><strong>${plat.getNomPlat()}</strong></p>
        </div>
    </div>
    #{list items:platList,as:'platl'}
    <div class="col-md-3 zone-contour">
        <img class="img-responsive img-rounded" src="${platl.getImage()}" >
        <div class="zone">
            <a type="button">Decouvrir</a>
            <p>${platl.getDescription()}</p>
            <p> <strong>${platl.getNomPlat()}</strong>t</p>
        </div>
    </div>
    #{/list}
</div>
-->
<div id="my_carousel" class="carousel slide" data-ride="carousel" data-interval="7000">
    <!-- Bulles -->
    <ol class="carousel-indicators">
        <li data-target="#my_carousel" data-slide-to="0" class="active"></li>
        <li data-target="#my_carousel" data-slide-to="1"></li>
        <li data-target="#my_carousel" data-slide-to="2"></li>
        <li data-target="#my_carousel" data-slide-to="3"></li>
        <li data-target="#my_carousel" data-slide-to="4"></li>
    </ol>
    <!-- Slides -->
    <div class="carousel-inner">
        <!-- Page 1 -->
        <div class="item active">
            <div class="carousel-page">
                <div class="row" id="carousel-plat">
                    <div class="col-md-3 zone-contour" >
                        <img class="img-responsive img-rounded" src="${plat.getImage()}" >
                        <div class="zone">
                            <a type="button">Decouvrir</a>
                            <p>${plat.getDescription()}</p>
                            <p><strong>${plat.getNomPlat()}</strong></p>
                        </div>
                    </div>
                #{list items:platList,as:'platl'}
                    <div class="col-md-3 zone-contour">
                        <img class="img-responsive img-rounded" src="${platl.getImage()}" >
                        <div class="zone">
                            <a type="button">Decouvrir</a>
                            <p>${platl.getDescription()}</p>
                            <p> <strong>${platl.getNomPlat()}</strong>t</p>
                        </div>
                    </div>
                #{/list}
                </div>
            </div>
        </div>
        <!-- Page 2 -->
        <div class="item">
            <div class="carousel-page">
                <div class="row" id="carousel-plat">
                #{list items:platList,as:'platl'}
                    <div class="col-md-3 zone-contour">
                        <img class="img-responsive img-rounded" src="${platl.getImage()}" >
                        <div class="zone">
                            <a type="button">Decouvrir</a>
                            <p>${platl.getDescription()}</p>
                            <p> <strong>${platl.getNomPlat()}</strong></p>
                        </div>
                    </div>
                #{/list}
                </div>
            </div>
        </div>
        <!-- Page 3 -->
        <div class="item">
            <div class="carousel-page">
                <div class="row" id="carousel-plat">
                #{list items:platList,as:'platl'}
                    <div class="col-md-3 zone-contour">
                        <img class="img-responsive img-rounded" src="${platl.getImage()}" >
                        <div class="zone">
                            <a type="button">Decouvrir</a>
                            <p>${platl.getDescription()}</p>
                            <p> <strong>${platl.getNomPlat()}</strong></p>
                        </div>
                    </div>
                #{/list}
                </div>

            </div>
        </div>
    </div>
    <!-- Contrôles -->
    <a class="left carousel-control" href="#my_carousel" data-slide="prev" style="width: 2%">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#my_carousel" data-slide="next" style="width: 2%">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>