#{extends '/portail/partenaire/Dashboards/dashboard.html'/}
#{set title:'Menu'/}
<h3 class="text-primary text-center">Ajouter un plat au menu</h3>
<div id="formTypeMenu">
    <form method="POST" action="@{controllers.restaurants.Plats.addplat()}" enctype="multipart/form-data" class="form-horizontal">
        <div class="form-group">
            <label for="nomPlatEng" class="col-sm-3 control-label text-left">Nom du plat</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="nomPlatEng" placeholder="Nom du plat"
                       name="nomPlatEng" required>
            </div>
        </div>
        <div class="form-group">
            <label for="descPlatEng" class="col-sm-3 control-label text-left">Dèscription</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="descPlatEng" placeholder="Dèscription"
                       name="descPlatEng" required>
            </div>
        </div>
        <div class="form-group">
            <label for="descriptionEng" class="col-sm-3 control-label text-left">Catégorie</label>
            <div class="col-sm-8">
                <select class="form-control" id="categPlatEng" name="categPlatEng">
                #{list items:categorieList, as:'TPM'}
                    <option value="${TPM.getId()}">${TPM.getNom()}</option>
                #{/list}
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <label for="image" >Piéce jointe :<span style="color : red;">*</span></label>
                </div>
                <div class="col-sm-8">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                            <img class="tim-fig"src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" id="imagePlatEng" alt="No image" />
                        </div>
                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                        <div>
                                            <span class="btn btn-warning btn-file">
                                                <span class="fileupload-new "><i class="fa fa-paper-clip"></i> Choisir la piéce jointe</span>
                                                <span class="fileupload-exists"><i class="fa fa-undo"></i> Changer la piéce jointe</span>
                                                <input type="file" name ="imagePlatEng" id="imagePlatEng" class="form-control" onchange="readURL()"/>
                                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">ENREGISTRER</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
    </form>
</div>